<div class="row">
    <!-- No <ol> or <li> tags here -->
    <div class="col-sm-8">
      <div class="title">{{ entry.title }}</div>
      <div class="author">
        {%- for author in entry.author_array -%}
          {{ author.last }}, {{ author.first }}
          {%- unless forloop.last -%},&nbsp;{% else %}.{% endunless %}
        {%- endfor %}
      </div>
      <div class="journal">
        {% if entry.type == "article" %}
          <em>{{ entry.journal }}</em>, {{ entry.year }}.
        {% elsif entry.type == "inproceedings" %}
          <em>In {{ entry.booktitle }}</em>, {{ entry.year }}.
        {% endif %}
      </div>
    </div>
  </div>
  